.wrapper
  .header
    = render "products/header"
  %section#skill.skill
    .site-title
      %h2.heading SKILL
      .skill-box
        .skill-box-small
          = icon('fab', 'html5', class: 'header-icon')
          .skill-box-small-text HTML
        .skill-box-small
          = icon('fab', 'css3', class: 'header-icon')
          .skill-box-small-text CSS
        .skill-box-small
          = icon('fab', 'sass', class: 'header-icon')
          .skill-box-small-text SASS
        .skill-box-small
          = icon('fab', 'js-square', class: 'header-icon')
          .skill-box-small-text JavaScript
        .skill-box-small
          = icon('fas', 'gem', class: 'header-icon')
          .skill-box-small-text Ruby/Ruby on Rails